<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>44432274157-fpdoi2shsf246fj7uag477ab3q8kmeei.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.44432274157-fpdoi2shsf246fj7uag477ab3q8kmeei</string>
	<key>API_KEY</key>
	<string>AIzaSyBTzbrBn7zxYfwdB-IuPMBH3LNvDSngN08</string>
	<key>GCM_SENDER_ID</key>
	<string>44432274157</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cmms</string>
	<key>PROJECT_ID</key>
	<string>cmms2020-11ee8</string>
	<key>STORAGE_BUCKET</key>
	<string>cmms2020-11ee8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:44432274157:ios:d2d18f446f9dcaa184d2e4</string>
</dict>
</plist>